@import "tailwindcss";
:root {
  --primary-color-rgb: 252, 199, 248;
  --secondary-color-rgb: 103, 110, 235;
  --third-color-rgb: 252, 199, 248;
}

body {
  background: linear-gradient(
    135deg,
    rgba(var(--primary-color-rgb), 0.5) 0%,
    rgba(var(--secondary-color-rgb), 0.5) 50%,
    rgba(var(--third-color-rgb), 0.5) 100%
  );
  max-height: 100%;
}

.page-content {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  box-shadow: 0px 0px 44px 4px #76467f;
  padding: 32px;
  width: 90%;
  max-width: 700px;
  margin: 40px auto;
  border: 1px solid rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content h1 {
  font-size: ;
}

.task-container {
  background: #f9f8ff;
  border-radius: 16px;
  padding: 16px 20px;
  margin-bottom: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  transition: all 0.2s ease;
}

.task-container:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.task-title-container {
  display: flex;
}

.task-icon-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.task-icon {
  font-size: 32px;
}

.task-list-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 90%;
}

.task-details-container {
  display: flex;
  width: 100%;
}

.chevron {
  margin-left: auto;
}
