.task-container {
  /* display: flex; */
  border: gray 1px solid;
  border-radius: 8px;
  padding: 8px;
}

.task-title-container {
  display: flex;
}

.task-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
