.task-container {
  /* display: flex; */
  border: gray 1px solid;
  border-radius: 8px;
  padding: 8px;
}

.task-title-container {
  display: flex;
}

.task-icon-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.task-icon {
  font-size: 32px;
}

.task-list-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-details-container {
  display: flex;
  width: 100%;
}

.chevron {
  margin-left: auto;
}
